/* Add your styles here */
.fa-1x {
    font-size: 1.5rem;
    }
    .navbar-toggler.toggler-example {
    cursor: pointer;
    }
    .dark-blue-text {
    color: #0A38F5;
    }
    .dark-pink-text {
    color: #AC003A;
    }
    .dark-amber-text {
    color: #ff6f00;
    }
    .dark-teal-text {
    color: #29554e;
    }


    .box {
        height: 150px;
        padding: 20px;
        color: #06edf5;
      }


      hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
     }

     h1.color {
        color: #06edf5;
     }
     
     h2.headertekst {
        text-align: center;
        color: #06edf5;
      }