/* Add your styles here */
    .box {
        height: 100px;
        padding: 20px;
        color: #48a39f;
        background-color: white;
        margin-bottom: 0px;
      }

      hr{
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        border-top: 1px solid #061306;
      }

     h1.color {
        color: #48a39f;
     }
     
     h2.headertekst {
        text-align: center;
        color: #48a39f;
      }

      body { background: #f7efef !important;}

      .col-md-5 {
        background-color: white;
      }


      .col-md-2  {
        background-color: white;
      }

      .col-md-8 {
        background-color: white;
      }


      .col-sm-6 {
          background-color: white;
        }
      
      
      .col-md-6{
        background-color: white;
      }

      p {
        margin-top: 0px;
        margin-bottom: 0px;
        border: 0;
        background-color: white;
      }

  